.hero {
  position: absolute;
  height: 100vh;
  background-image: url("./assets/Iron_Throne_Official_Guide.webp");
  background-size: cover;
  background-repeat: repeat;
  width: 100%;
  z-index: -1;
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(128, 0, 0, 0.7);
  border-bottom: 2px solid #ffd700;
  margin-bottom: 25px;
}

.navbar--links {
  list-style-type: none;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  color: #ffff00f7;
  font-size: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home {
  /* position: absolute; */
  top: 25%;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.home--title {
  font-size: 75px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.home--description {
  font-size: 45px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.home--author {
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.auth--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth--text {
}

.red--background {
  /* display: flex; */
  background-color: rgba(128, 0, 0, 0.7);
  padding: 15px;
  align-items: center;
}

.main--button {
  background-color: #8b0000; /* Dark red */
  color: #ffd700;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 1s ease;
  border-radius: 5px;
}

.main--button:hover {
  background-color: #730000; /* Gold */
  transform: scale(1.05); /* Slightly enlarge the button */
}

.about {
  display: flex;
  flex-direction: column;
}

.about-text {
  font-size: 30px;
}

.houses {
  /* background-color: #3c3c3c; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  flex-direction: column;
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.loading-button {
  animation: flash 2s infinite;
}

.houses--text {
  color: #ffff00f7;
}

.houses--background {
  background-color: rgba(0, 0, 0, 0.5);
}

.houses--crests {
  width: 100%;
  min-width: 275px;
  max-width: 310px;
  height: 100%;
  min-height: 275px;
  max-height: 310px;
  object-fit: contain;
}

.profile {
  /* background-color: #3c3c3c; */
  color: #ffff00f7;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 25vh; */
  flex-direction: column;
}

.profile-text {
  width: 100%;
}

.user-houses {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
