@font-face {
  font-family: "Jaini";
  src: url("./assets/Jaini/Jaini-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  font-family: "Jaini", serif;
}

#root {
  overflow: auto;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #ffc800;
}

a:hover {
  color: #ffd700;
}

.primary--text--style {
  text-align: center;
  color: #ffd700;
}
